<?xml version="1.0" encoding="utf-8" ?>
<configuration>
    <configSections>
    </configSections>
    <connectionStrings>
        <add name="App_Code.Properties.Settings.chiefMesConnectionString"
            connectionString="Data Source=PC-201609161026;Initial Catalog=Plastic;User ID=sa;Password=sa;"
            providerName="System.Data.SqlClient" />
    </connectionStrings>
</configuration>